<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sm_pc.myapplication">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".account.SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".account.ResetPasswordActivity" />
        <activity android:name=".DodamBot.BotActivity" />
        <activity android:name=".BabyBot.BabyActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".diary.NewNoteActivity" />
        <activity
            android:name=".diary.DiaryMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".setting.Baby.BabyCreateActivity" />
        <activity android:name=".setting.UserInfoActivity" />
        <activity android:name=".Hospital.HospitalMainActivity"/>
        <activity android:name=".Hospital.AddReminderActivity">
        </activity>

        <provider
            android:name=".Hospital.Data.AlarmReminderProvider"
            android:authorities="alarmreminder"
            android:exported="false" />

        <service
            android:name=".Hospital.Reminder.ReminderAlarmService"
            android:exported="false" />

    </application>

</manifest>